@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

:root {
	--color-logo: #F5C044;
	--color-dark: #18181B;
	--color-gray-dark: #52525A;
	--color-gray-light: #D4D4D8;
	--color-background: #FAFAF9;
	--color-white: #FFFFFF;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Sora', sans-serif;
	background-color: var(--color-background);
}

.heading {
	font-size: 2.25rem;
	font-weight: 500;
	color: var(--color-dark);
}

.body-text {
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--color-gray-dark);
}

.body-text-2 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-gray-dark);
}

.list-item {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--color-gray-dark);
}

main {
	display: flex;
	gap: 25px;
	padding: 70px;
}

section {
	width: 100%
}

h1 {
	margin: 30px 0;
}

.body-text {
	margin-bottom: 40px;
}

ul {
	gap: 25px;
}

.list-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.testimonial-info {

}

.testimonial-cards {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.card {
	width: 360px;
	height: 185px;
	padding: 25px 40px;
	background-color: #FFFFFF;
	border-radius: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:nth-child(1) {
	align-self: flex-end;
}

.brand-rev {
	margin-bottom: 25px;
}

.brand-rev img {
	width: 100px;
	height: 35px;
}

.name {
	margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
	main {
		flex-direction: column;
		padding: 20px;
		gap: 65px;
	}
	.testimonial-cards {
		gap: 40px;
	}
}