@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

:root {
	--color-logo: #F5C044;
	--color-dark: #18181B;
	--color-gray-dark: #52525A;
	--color-gray-light: #D4D4D8;
	--color-background: #FAFAF9;
	--color-white: #FFFFFF;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: 'Sora', sans-serif;
	background-color: var(--color-background);
}

.heading {
	font-size: 2.25rem;
	font-weight: 500;
	color: var(--color-dark);
}

.body-text {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 30px;
	color: var(--color-gray-dark);
}

.body-text-2 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-gray-dark);
}

.list-item {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--color-gray-dark);
}

main {
	display: flex;
	gap: 50px;
	padding: 70px;
	width: 100%;
	height: 100%;
}

section {
	width: 100%
}

h1 {
	margin: 20px 0;
}

.body-text {
	margin-bottom: 40px;
}

ul {
	gap: 25px;
}

.list-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.testimonial-info {

}

.circle {
	width: 45px;
	height: 45px;
	background-color: #F5C044;
	border-radius: 50%;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonial-cards {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.card {
	width: 360px;
	height: 185px;
	padding: 25px 40px;
	background-color: #FFFFFF;
	border-radius: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:nth-child(1) {
	align-self: flex-end;
}

.brand-rev {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
}

.brand-rev-logo {
	width: 100px;
	height: 35px;
}

.stars {
	display: flex;
	gap: 2px;
	margin-left: 15px;
}

.star {
	width: 25px;
	height: 25px;
}

.name {
	margin-bottom: 10px;
	font-weight: 700;
}

@media screen and (min-width: 1149px) {
	body {
		display: flex;
		justify-content: center;
	}
	main {
		margin-top: 130px;
		max-width: 1300px;
		justify-content: center;
	}
}

@media screen and (max-width: 1024px) {
	main {
		flex-direction: column;
		align-items: center;
		padding: 45px;
		gap: 65px;
	}
	.testimonial-cards {
		width: 570px;
		gap: 40px;
	}
}

@media screen and (max-width: 640px) {
	main {
		flex-direction: column;
		padding: 45px 20px;
		gap: 65px;
	}
	.testimonial-cards {
		width: 100%;
		gap: 40px;
	}
	.card {
		width: 100%;
	}
}